.articles-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  @include tablet {
    display: flex;
    column-gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 45px;
  }

  &__item {
    @include tablet {
      flex-basis: calc((100% - 30px) / 2);
    }

    @include desktop {
      flex-basis: calc((100% - 90px) / 4);
    }
  }

  &__background {
    height: 120px;
    background-color: $sectionBgLight;
    padding: 25px 0;
  }

  &__icon {
    background-color: $sectionBgLight;
    display: block;
    margin: auto;

    @include desktop {
      margin: auto 100px;
    }
  }

  &__heading {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $textPrimary;
    padding: 30px 0 10px 0;
    text-align: center;

    @include desktop {
      text-align: start;
    }
  }

  &__body {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $textSecondary;
  }
}
