.clients {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    flex-basis: calc((100% - 30px) / 2);

    @include tablet {
      flex-basis: calc((100% - 60px) / 3);
    }
    @include desktop {
      flex-basis: calc((100% - 150px) / 6);
    }
  }

  &__icon {
    border: 1px solid $iconsPrimary;
    border-radius: 4px;
    fill: $iconsPrimary;
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: $defaultTransitionTimingFunction;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    min-width: 210px;

    &:hover,
    &:focus {
      border-color: $active;
      fill: $active;
    }

    @include tablet {
      min-width: 226px;
    }

    @include desktop {
      min-width: 170px;
    }
  }
}
