.header {
  border-bottom: 1px solid $headerBottomLine;
  padding: 24px 0 25px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-list {
    display: flex;
    margin-left: 93px;
  }

  &__nav-list &__nav-list-item:not(:last-child) {
    margin-right: 46px;
  }

  &__nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $textPrimary;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $defaultTransitionTimingFunction;
    position: relative;
    display: block;

    &:hover,
    &:focus {
      color: $active;
    }

    &--is-active {
      color: $active;
    }

    &--is-active::after {
      content: '';
      width: 100%;
      height: 4px;
      background-color: $active;
      border-radius: 2px;
      position: absolute;
      top: 46px;
      left: 0;
    }

    &--not-active:hover::after,
    &--not-active:focus::after {
      content: '';
      width: 100%;
      height: 4px;
      background-color: $active;
      border-radius: 2px;
      position: absolute;
      top: 46px;
      left: 0;
    }
  }

  &__contacts {
    display: flex;
  }

  &__contacts &__contacts-item {
    display: flex;
    align-items: center;
  }

  &__contacts-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $textSecondary;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $defaultTransitionTimingFunction;

    &:hover,
    &:focus {
      color: $active;
    }

    &:first-child {
      margin-right: 30px;
    }
  }

  &__contacts-item-icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
