.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $active;
  display: flex;
  justify-content: center;

  @include desktop {
    font-size: 26px;
    line-height: 1.19;
    justify-content: flex-start;
  }

  &__black {
    color: $logoDark;
  }

  &__white {
    color: $white;
  }
}

// .logo {
//   font-family: 'Raleway', sans-serif;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   text-decoration: none;
//   color: $active;

//   &__black {
//     color: $logoDark;
//   }

//   &__white {
//     color: $white;
//   }
// }
