.services-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;

  & > &__item {
    position: relative;
  }

  &__heading {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    align-items: center;
    padding-top: 27px;
    margin-top: 224px;
    position: absolute;
  }

  &__heading--overlay {
    background-color: $servicesSectionOverlay;
    width: 370px;
    height: 70px;
  }
}
